# 점프투파이썬 2장 이어서
## 3절리스트

In [1]:
print("안녕하세요")

안녕하세요

In [2]:
print(123)

123

### 리스트 만들기

In [4]:
# 빈 리스트
a = []
a

[]

In [6]:
b = [1,2,3]
b

[1, 2, 3]

In [13]:
c = ["life","is","too","short"]
c

['life', 'is', 'too', 'short']

In [11]:
d = [1,2,"life","is"]
d

[1, 2, 'life', 'is']

In [14]:
e = [1,2,["life","is"]]
e

[1, 2, ['life', 'is']]

# 리스트의 인덱싱

In [16]:
[0,5] #공간 상 첫째부터 다섯번째까지

[0, 5]

In [17]:
a = [1,2,3]
a

[1, 2, 3]

In [18]:
a[1]

2

In [19]:
a[-1]

3

In [20]:
a[-3]

1

In [21]:
a[-2]

2

In [22]:
e

[1, 2, ['life', 'is']]

In [23]:
e[2][0]

'life'

In [24]:
e[2]

['life', 'is']

### 리스트의 슬라이싱

In [25]:
a = [1,2,3,4,5,]
a

[1, 2, 3, 4, 5]

In [26]:
b = a[0:2]
b

[1, 2]

In [28]:
b = a[:2]
b

[1, 2]

### 리스트의 연산자

In [29]:
print(a,b)

[1, 2, 3, 4, 5] [1, 2]

In [30]:
a + b

[1, 2, 3, 4, 5, 1, 2]

In [32]:
c = a + b
c

[1, 2, 3, 4, 5, 1, 2]

In [33]:
c * 2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

## 리스트의 수정, 변경, 삭제

In [34]:
# 하나의 값 수정하기
a = [1,2,3]

In [35]:
a[2] = 4
a

[1, 2, 4]

In [37]:
# 연속된 범위의 값 수정
a[2:3]

[4]

In [46]:
# 해당위치에 수정
a[2:3] = ['a','b','c']
a

[1, 'a', 'a', 'b', 'c', 'b', 'c', 'c', 'b', 'c', 'bc', 4]

In [45]:
# 중첩하여 수정
a[2] = ['a','b','c']
a

[1, 'a', ['a', 'b', 'c'], 'b', 'c', 'c', 'b', 'c', 'bc', 4]

In [48]:
# 리스트 요소 삭제
a = [1,2,3]
del a[2]
a

[1, 2]

In [49]:
a = [1,2,3,4]
del a[1:3]
a

[1, 4]

# 리스트 함수

In [50]:
# 리스트에 요소 추가
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [51]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [52]:
# 리스트 정렬
a = [1,3,4,5,2,6,8,7,9]
a.sort()
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
# 리스트 뒤집기
a = [1,3,4,5,2,6,8,7,9]
a.reverse()
a

[9, 7, 8, 6, 2, 5, 4, 3, 1]

In [56]:
# 위치 반환
a = [1,2,3]
a.index(3)
# 3의 위치는?

2

In [57]:
# 리스트에 요소 삽입
a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [58]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [59]:
# 리스트 요소 제거
a = [1,2,3,1,2,3,]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [60]:
# 리스트 요소 꺼내기
a = [1,2,3]
a.pop()

3

In [61]:
a

[1, 2]

In [62]:
# 요소 개수 세기
a = [1,2,3,1]
a.count(1)

2

In [64]:
# 리스트 확장
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [65]:
a.append([5,6])
a

[1, 2, 3, 4, 5, [5, 6]]

## 튜플

In [67]:
t1 = ()
t2 = (1, )
t3 = (1,2,3)
t4 = ('a','b' )
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) ('a', 'b')

In [68]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

### 딕셔너리

In [69]:
dic = {'name':'최용환','phone':'012345678'}

In [70]:
print(dic)

{'name': '최용환', 'phone': '012345678'}

In [71]:
dic['name']

'최용환'

In [72]:
dic['phone']

'012345678'

In [73]:
dic = {'name':'최용환', 'name':'홍길동'}

In [74]:
dic['name']

'홍길동'

In [75]:
# 키가 뭐뭐 있니?
dic.keys()

dict_keys(['name'])

In [76]:
# 값이 뭐뭐 있니?
dic.values()

dict_values(['홍길동'])

## 불 자료형(bool)

In [77]:
# T / F
# True / False
3 > 1

True

In [78]:
1 < 3

True

In [79]:
1 > 3

False

In [81]:
if [1,2]:
    print("참")
else:
    print("거짓")

참

In [83]:
if []:
    print("참")
else:
    print("거짓")

거짓

In [84]:
if ["ㅇㄴㄹ"]:
    print("참")
else:
    print("거짓")

참

# 3장 제어문

## 1. if문

In [86]:
money = 1 # 돈이 있다.
if money:
    print("택시 타자")
else:
    print("걸어가야해ㅠ")

택시 타자

In [87]:
money = 0 # 돈이 있다.
if money:
    print("택시 타자")
else:
    print("걸어가야해ㅠ")

걸어가야해ㅠ

In [ ]:
# 기본구죠
if 조건문: 
    수형 문장1
    수형 문장2
else:
    수형 문장A
    수형 문자B
# Tab 1번 또는 spacebar 4번

In [90]:
money = 2000 # 내 수중에 있는 돈
if money >= 3000:
    print("택시 타자")
else:
    print("걸어 가자")

걸어가자

In [91]:
money = 2000 # 내 수중의 돈
card = 1 #카드가 있다
if money >= 3000 or card:
    print("택시 타자")
else:
    print("걸어 가자ㅠ")

택시 타자

In [92]:
pocket = ['paper', 'handphone', 'card']
if 'money' in pocket:
    print("택시 타자")
else:
    if card:
        print("택시 타자")
    else:
        print("걸어 가자")

택시 타자

In [93]:
#  elif를 사용
if 'money' in pocket:
    print("택시 타자")
elif 'card' in pocket:
    print("택시 타자")
else:
    print("걸어가자")

택시 타자

In [ ]:
# 구문
if <조건문>:
    수형문장1
    수형문장2
elif <조건문>:
    수형문장1
elif <조건문>:
    수형문장1
elif <조건문>:
    수형문장1
else:
    수형문장1